*{
    margin: 0;
    padding: 0;
}
body, html{
    width: 100vw;
    height: 100vh;
}
body{
    background-image: url("../img/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#title{
    width: max-content;
    height: max-content;
    display: flex;
    justify-self: center;
    position: relative;
    top: 20%;
    text-align: center;
    border: none;
    grid-row: 1;
    grid-column: 2;
    cursor: pointer;
}
#titletext{
    color: red;
    transition: ease 0.6s;
    font-family: 'Times New Roman', Times, serif;
}
#titletext:hover{
    transform: scale(1.25);
    color: black;
}
.playerForm{
    width: 30%;
    height: 50%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(245,245,245,0.6);
}