*{
    margin: 0;
    padding: 0;
}
body, html{
    width: 100vw;
    height: 100vh;
}
body{
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#title{
    width: max-content;
    height: max-content;
    display: flex;
    justify-self: center;
    position: relative;
    top: 20%;
    border: none;
    grid-row: 1;
    grid-column: 2;
    cursor: pointer;
}
#titletext{
    color: red;
    transition: ease 0.6s;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}
#titletext:hover{
    transform: scale(1.25);
    color: black;
}
#playerFormEna{
    width: 70%;
    height: 150%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(245,245,245,0.6);
	display: flex;
	justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
	grid-row: 2;
	grid-column: 1;
	margin-right: 10%;
	justify-self: center;
    position: relative;
    bottom: 15%;
    box-shadow: 10px 10px 15px 5px;
	padding: 2%;
}
#playerFormDva{
	width: 70%;
    height: 150%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(245,245,245,0.6);
	grid-row: 2;
	grid-column: 2;
	margin-right: 10%;
	justify-self: center;
    align-items: flex-start;
    position: relative;
    bottom: 15%;
    box-shadow: 10px 10px 15px 5px;
	padding: 2%;
}
#playerFormTri{
	width: 70%;
    height: 150%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(245,245,245,0.6);
	grid-row: 2;
	grid-column: 3;
	justify-self: center;
    align-items: flex-start;
    position: relative;
    bottom: 15%;
    box-shadow: 10px 10px 15px 5px;
	padding: 2%;
}
span{
	display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input[type="text"]{
    display: block;
    border: 1px solid black;
    border-radius: 7px;
    height: 6%;
    margin-top: 1%;
    margin-bottom: 3%;
    background-color: rgba(245,245,245,0.6);
}
.formTitle{
    border: none;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    margin-bottom: 5%;
    padding: 3%;
}
#add{
    width: 10%;
    height: 10%;
    right: 30%;
    position: absolute;
    top: 80%;
    right: 45%;
    background-image: url("../img/plus.png");
    background-repeat: no-repeat;
    background-size: cover;
}